

/* Стилі для розділів з фоном зеленого кольору */
#home {
background-color: #f9f9f9;
}

#about {
background-color: #f9f9f9;
}

#projects {
background-color: #f9f9f9;
}

#contact {
background-color: #f9f9f9;
}

#conta {
background-color: #f9f9f9;
}

#social-media-buttons {
background-color: #f9f9f9;
}

#social-media {
  background-color: #f9f9f9;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  margin-top: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
/* анімація для аватарки */

#my-photo {
  transition: transform 0.3s ease-in-out; 
}

#my-photo:hover {
  transform: scale(1.1);
}



body {
font-family: 'Roboto', sans-serif; /* шрифт */
margin: 0;
padding: 0;
box-sizing: border-box;
background-image: url("images.jfif");
background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* шрифт для заголовків */
}

/* Стилі для шапки сайту */
header {
  height: 100px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #555555; 
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease-in-out; /* анімація */
}

nav a:hover {
  color: #2196F3; 
}

/* Стилі для основного контенту сайту */
main {
  padding-top: 100px; /
  padding-bottom: 40px;
  margin: 0 auto;
  max-width: 1200px; /* максимальна ширина */
}

section {
  padding: 60px 20px;
}

section h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
section img {        /* рівняємо фотографію по центру */
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.projects-container li {
  list-style-type: none;
  width: calc(33.333% - 20px); /* ширина елемента */
  margin-bottom: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* тінь */
  transition: all 0.2s ease-in-out; /* анімація */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px; /* задаємо радіус заокруглення кутів */
}

.projects-container li h3 {
text-align: center;
}

.projects-container li:hover {
  transform: translateY(-30px) scale(1.05);
  
}

#conta {
  background-color: #f9f9f9;
  border-radius: 0 0 0 0;
  padding: 20px;
  margin-top: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#conta h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

#conta label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#conta input[type="text"],
#conta input[type="email"],
#conta textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 18px;
}

#conta textarea {
  height: 150px;
  resize: none;
  border-radius: 0 0 5px 5px;
}

#conta button[type="submit"] {
  background-color: #454545;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  float: left;
}


#conta button[type="submit"]:hover {
  background-color: #bbb;
}

#conta button[type="submit"]:active {
  background-color: #ff0000;
}

#conta::after {
  content: "";
  display: table;
  clear: both;
}

/*посилання на сайти */

a {
  display: inline-block;
  margin-right: 10px;
}/
.my-media {
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  position: relative;
  top: 0;
}

.my-media:hover {
   top: -5px;
   transform: scale(1.10);
}

.social-text {
  color: #555;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
  filter: grayscale(100%);
}